
<div class="container">

  <header>
    <h1></h1>
    <hgroup>
      <h2>Hector Minaya</h2>
      <h3>Software developer</h3>
    </hgroup>
  </header>

  <section id="content">
    <h1 id="intro">Hi, I'm a software developer based in Santo Domingo, DR. I spend most of my time
    hacking away at various web apps and occasionally some mobile ones as well.</h1>
    <p id="other">
      If you'd like to catch up with me you can find me on
      <a class="ss-twitter" href="http://twitter.com/HectorMinaya">twitter</a> or over at
    <a class="ss-facebook" href="https://www.facebook.com/groups/devdominicanos/">facebook</a> in the Devs Dominicanos UG.
    </p>
    <p class="availability">
      <a href="mailto:hminaya@hectorminaya.com" class="ss-mail">I also do some consulting and freelance work. Drop me a line.</a></p>
  </section>

</div>