<!DOCTYPE html>
<html>
<head>
  <title>Hector Minaya</title>
  <meta name="author" content="Hector Minaya">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="//use.typekit.net/nip2dbc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body class="milk">

<%= yield %>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6363856-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
